.App {
  position: relative;
  height: 44em;
  width: 40em;
  margin: 3em auto;
  --text-color: #2e3440;
  --background-color: white;
  --opt-hover: hsla(0, 0%, 0%, 0.1);
  transition: 0.3s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: var(--background-color);
  border: 0.1em dotted var(--background-color);
}

.App.dark {
  --text-color: white;
  --background-color: #2e3440;
  --opt-hover: hsla(0, 0%, 100%, 0.2);

  color: white;
  scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
}

#lightModeBtn,
#listBkBtn,
#listBtn {
  cursor: pointer;
  filter: brightness(0);
  height: 2em;
  position: absolute;
  right: 1.7em;
  top: 0.7em;
  z-index: 1000;
}

#listBkBtn,
#listBtn {
  top: 0.5em;
  left: 0.7em;
  height: 1.5em;
  width: fit-content;
}

#listBtn {
  top: 1em;
  left: 2em;
  transform: rotateY(180deg);
}

#listBkBtn img {
  transform: scale(0.5);
  height: 100%;
}

.dark #listBkBtn,
.dark #listBtn,
.dark #lightModeBtn {
  filter: brightness(100%);
}

.dark .invertFromBlack {
  filter: grayscale(100%);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  width: 18.5em;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#controls {
  display: flex;
  height: 15.2em;
  width: fit-content;
  margin: 0 auto 0.7em;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.form-container {
  position: relative;
  margin: 0 auto;
  width: 100%;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.disable {
  opacity: 0.3;
  pointer-events: none;
}

.hideThis {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: -10000;
}

/*
          Records Page
*/

main {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  font-size: 0.95em;
  justify-content: space-between;
  margin: auto;
  --title-one-green: #009000;
  --by-day: rgb(208, 176, 0);
  --section1-title: #0a7ea5;
  --section2-title: var(--by-day);
  --track1-color: rgb(189, 189, 189);
  --thumb1-color: var(var(--section1-title));
  --thumb2-color: var(var(--section1-title));
  --track1-color: var(--by-day);
  --track2-color: var(--section1-title);
}

.dark main {
  --section1-title: #b6edff;
  --title-one-green: lightgreen;
  --by-day: #ccac00;
  --track1-color: var(--by-day);
  --track2-color: var(--section1-title);
  --thumb1-color: black;
  --thumb2-color: black;
}

.records-page-title {
  text-align: center;
  text-decoration: underline;
  width: 100%;
  margin: 0.7em;
  font-size: 1.8em;
}

main .listTitle {
  font-size: 1.3em;
  text-decoration: underline;
  margin-bottom: 0.7em;
  text-align: center;
}

.list {
  width: fit-content;
  overflow-y: auto;
  height: 37em;
  padding-right: 2em;
}

.list:not(.list2) {
  flex-shrink: 0;
  min-width: 14em;
}

.list.list2 .data {
  margin: 0;
}

.sectionTitle {
  text-decoration: underline;
  color: var(--section1-title);
}
.sectionTitle:not(:first-of-type) {
  margin-top: 1em;
}

.day {
  text-decoration: underline;
  color: var(--by-day);
  font-size: 0.9em;
}
.day:not(:first-child) {
  margin-top: 1em;
}

.exerciseTitle {
  text-decoration: underline;
  color: var(--title-one-green);
  margin: 0.5em 0 0.25em;
  margin-left: 1em;
}

ul.data {
  margin-bottom: 0.2em;
  margin-left: 1em;
}

ul.data li {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  list-style: none;
  margin-left: 0.5em;
}

.list2 ul.data li {
  justify-content: flex-start;
  margin-top: 0.3em;
}

.scroller {
  scrollbar-width: var(--scrollbar-width);
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 0.7em;
}

.scroller1 {
  --scrollbar-color-thumb: var(--thumb1-color);
  --scrollbar-color-track: var(--track1-color);
  scrollbar-color: var(--scrollbar-color-track);
}

.scroller2 {
  --scrollbar-color-thumb: var(--thumb2-color);
  --scrollbar-color-track: var(--track2-color);
  scrollbar-color: var(--scrollbar-color-track);
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .scroller {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .scroller::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color-thumb);
  }
  .scroller::-webkit-scrollbar-track {
    background: var(--scrollbar-color-track);
  }
  .scroller::-webkit-scrollbar {
    max-width: var(--scrollbar-width-legacy);
    max-height: var(--scrollbar-width-legacy);
  }
}
