.App {
  position: relative;
  height: 44em;
  width: 40em;
  margin: 3em auto;
  --text-color: #2e3440;
  --background-color: white;
  --opt-hover: hsla(0, 0%, 0%, .1);
  transition: .3s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  background-color: var(--background-color);
  border: .1em dotted var(--background-color);
}

.App.dark {
  --text-color: white;
  --background-color: #2e3440;
  --opt-hover: hsla(0, 0%, 100%, .2);
  
  color: white;
  scrollbar-color: rgb(210, 210, 210) rgb(46, 54, 69) !important;
}

#listBtn,
#lightModeBtn {
  position: absolute;
  top: .3em;
  right: .5em;
  height: 2em;
  filter: brightness(0);
  z-index: 1000;
  cursor: pointer;
}

#listBtn {
  top: .5em;
  left: .7em;
  height: 1.5em;
  transform: rotateY(180deg);
}

.dark #listBtn,
.dark #lightModeBtn {
  filter: brightness(100%)
}


section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  width: 18.5em;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#controls {
  display: flex;
  height: 15.2em;
  width: fit-content;
  margin: 0 auto .7em;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.form-container {
  position: relative;
  margin: 0 auto;
  width: 100%;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}


.disable {
  opacity: .3;
  pointer-events: none;
}

.hideThis {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: -10000;
}

/*
          Records Page
*/

main {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  font-size: .95em;
  justify-content: space-between;
  margin: auto;
  --section-title: #0a7ea5;
  --exercise-title: #009000;
  --by-day: rgb(208, 176, 0);
  --track-color: rgb(189, 189, 189);
  --thumb-color: var(var(--section-title))
}

.dark main {
  --section-title: #b6edff;
  --exercise-title: lightgreen;
  --by-day: #ccac00;
  --track-color: #b6edff;
  --thumb-color: black;
}

.records-page-title {
  text-align: center;
  text-decoration: underline;
  width: 100%;
  margin: .7em;
  font-size: 1.8em;
}

main .listTitle {
  font-size: 1.3em;
  text-decoration: underline;
  margin-bottom: .7em;
  text-align: center;
}

.list {
  width: fit-content;
  overflow-y: auto;
  height: 29em;
}

.list:not(.list2) {
  flex-shrink: 0;
  padding-right: 2em;
  min-width: 14em;
}

.list.list2 .data {
  margin: 0;
}

.sectionTitle {
  text-decoration: underline;
  color: var(--section-title);
}
.sectionTitle:not(:first-of-type) {
  margin-top: 1em;
}

.day {
  text-decoration: underline;
  color: var(--by-day);
  font-size: .9em;
}
.day:not(:first-child) {
  margin-top: 1em;
}

.exerciseTitle {
  text-decoration: underline;
  color: var(--exercise-title);
  margin: .5em 0 .25em;
  margin-left: 1em;
}

ul.data {
  margin-bottom: .2em;
  margin-left: 1em;
}

ul.data li {
  display: flex;
  justify-content: space-between;
  font-size: .9em;
  list-style: none;
  margin-left: .5em;
}

.list2 ul.data li {
  justify-content: flex-start;
  margin-top: .3em;
}

.scroller {
  --scrollbar-color-thumb: var(--thumb-color);
  --scrollbar-color-track: var(--track-color);
  --scrollbar-width: thin;
  --scrollbar-width-legacy: .7em;
}

.scroller {
    scrollbar-color: var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
}
/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
  .scroller {
      scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
      scrollbar-width: var(--scrollbar-width);
  }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
  .scroller::-webkit-scrollbar-thumb {
      background: var(--scrollbar-color-thumb);
  }
  .scroller::-webkit-scrollbar-track {
      background: var(--scrollbar-color-track);
  }
  .scroller::-webkit-scrollbar {
      max-width: var(--scrollbar-width-legacy);
      max-height: var(--scrollbar-width-legacy);
  }
}