.soundOption {
  display: flex;
  justify-content: space-between;
}

.soundOption span {
  display: flex;
  cursor: pointer;
}

.soundOption span:nth-child(1) {
  width: 80%;
}

.soundOption span:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 2.8em;
  padding: 0;
}

.soundOption img {
  position: absolute;
  height: .9em;
  filter: brightness(.5);
  right: .9em;
}

.dark .soundOption img {
  filter: brightness(.8);
}

.audioCtrls {
  font-size: .9em;
  height: 50%;
  justify-content: space-around;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  font-size: .84em;
}

div.checkbox {
  padding: 0 4em 1em;
  flex-shrink: 0;
}

#volumeControl {
  height: 1em;
  padding: 0 2em 1em;
}

#volumeControl {
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.1em;
}

#volumeControl p {
  position: relative;
  inset-block-start: 1em;
}

#volumeControl small {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
  margin-block-end: .4em;
  padding-bottom: .3em;
}

/* #volume {
  position: relative;
  display: flex;
  align-items: center;
  inline-size: 100%;
  block-size: .25em;
  background-color: black;
  flex-shrink: 0;
  border-radius: .12em;
  cursor: pointer
}

/* Target Input */
#volume {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
  --block-size: .25rem;
  --inline-size: 100%;
  --thumb-size: .85rem;
  --track-color: var(--text-color);
  --thumb-color: var(--background-color);
  --thumb-border-size: .15em;
  box-sizing: border-box;
}

/* --- Webkit Browsers --- */
#volume::-webkit-slider-runnable-track {
  height: var(--block-size);
  width: var(--inline-size);
  background: var(--track-color);
  border-radius: calc(var(--block-size) / 2);
}

#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: calc(var(--thumb-size) / 2);
  border: var(--thumb-border-size) solid var(--track-color);
  box-shadow: 0 0 calc(var(--thumb-border-size) / 1) calc(var(--thumb-border-size) / 4) var(--track-color);
  margin-top: calc((var(--thumb-size) - var(--thumb-border-size)) / -2);
}

/* --- Firefox --- */
#volume::-moz-range-track {
  height: var(--block-size);
  width: var(--inline-size);
  background: var(--track-color);
  border-radius: calc(var(--block-size) / 2);
}

#volume::-moz-range-thumb {
  height: var(--thumb-size);
  width: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: calc(var(--thumb-size) / 2);
  border: var(--thumb-border-size) solid var(--track-color);
  box-shadow: 0 0 calc(var(--thumb-border-size) / 1) calc(var(--thumb-border-size) / 4) var(--track-color);
}

/* #volume {
  position: relative;
  display: flex;
  align-items: center;
  inline-size: 100%;
  block-size: .25em;
  background-color: black;
  flex-shrink: 0;
  border-radius: .12em;
  cursor: pointer
}

.dark #volume {
  background-color: white;
} */


#buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

button:disabled {
  pointer-events: none;
}

button {
  display: block;
  flex-shrink: 0;
  width: 6.5em;
  height: max-content;
  padding: .3em .4em;
  outline: none;
  border-width: .02em;
  border-radius: .5em;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
  font-size: .9em;
}


